.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
}


button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 10px;
    border-radius: 14px; 
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

button span {
    font-size: 20px;
}

button:hover {
    background-color: rgba(180,180,180, 0.05);
}

.history {
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.history li {
    list-style: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover {
    background-color: rgba(180,180,180,0.05);
    border-radius: 10px;
}


.highlighted {
    background-color: rgba(180,180,180, 0.05);
    border-radius: 10px;
}

.fa-trash-can {
    opacity: 0;
    position: absolute;
    right: 0;
}
.history li:hover .fa-trash-can{
    opacity: 1;
}
.fa-trash-can:hover {
    color: #f87171;
}

.sign {
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255,255,255,0.5);
}

.fa-list {
    display: none;
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .fa-list {
    position: relative;
    left: 1rem;
    top: 2.35rem;
    display: block;
    cursor: pointer;
  }
}

.displaySidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 90vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 3.5rem;
    left: 0;
    transform: translateX(1px); /* Hidden by default on small screens */
    transition: transform 0.3s ease-in-out; /* Smooth slide effect */
    z-index: 1000;
    border-radius: 14px;
}